@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  box-sizing: border-box;
}


body {
  height: 100%;
  font-size: 15px;
  font-family: 'Baloo 2', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  cursor: pointer;
  padding: 16px 20px;
  border: none;
  background-color: hsl(219, 83%, 53%);
  border-radius: 5px;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
