
*{
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  box-sizing: border-box;
  line-height: 110%;
}


body {
  height: 100%;
  font-size: 17px;
  font-family: 'Baloo 2', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  cursor: pointer;
  padding: 16px 20px;
  border: none;
  background-color: #2469eb;
  border-radius: 5px;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
